/* MOBILE FIRST VIEW */

main > div {
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
    text-align: left;
}

main > div > h2 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

main > div > p {
    font-size: 18px;
}

main {
    background-color: black;
    display: grid;
    grid-template-areas: 
    '.'
    '.'
    '.'
    '.'
    '.'
    '.'
    '.';
    grid-gap: 20px;
    padding: 20px;
}

/* MEDIA QUERY BREAKPOINT */

@media only screen and (min-width: 992px) {
    
    .container2 {
        grid-area: area2;
    }

    .container3 {
        grid-area: area3;
    }

    main {
        grid-template-areas: 
        '. area3 .'
        'area2 area3 .'
        'area2 area3 .';
    }

}